In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('churn_raw_data.csv')

In [3]:
df

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,...,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,...,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,...,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,...,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,...,218.371000,5857.586000,2,2,3,3,3,3,4,1

Part I: Research Question 
A. Can we determine from our dataset which customer is likely to churn?
B. The data set inlcudes 10,000 observations and 50 variables. There are variables that describe the demographics of the customer (City, Education, and Income), there are variables that descibe the services that the customer selected (InternetService, Phone, and OnlineSecurity), there are variables that contain account information (MonthlyCharge, Bandwidth, and Tenure). We also know if the customer has churned within the last month (Churn column). We also have 8 variables that represent reponses to a survey answered by the customer. Data variables are either numerical or categorical.

Part II: Data-Cleaning Plan
C1.  
    Explain the plan for cleaning the data by doing the following:
     1) Use Jupyter Notebook to store my work and perform python. 
     2) Understand the dataset
     3) Remove irrelevent variables
     4) find missing data, duplicates, format errors, and wrong data
     5) impute the missing data with central tendency measures
     6) Change variables categorical variables to numerical which could be used to run statistical analysis
     7) find outliers using statistical methods, boxplots and histograms
C2. 
    Characteristics for assessing the quality of this data set is looking at the accuracy, completeness, reliability, relevance, timeliness. First by looking at the raw data, it was noticed that the data incomplete having missing data represented as 'NA'.  We will also look at the how accurate are the data for what we will be testing for. We will look at the reliability of the data, that the information will not contradict another piece of information. We will look at how relevent is the data, does our data contain useful data? Lastly we will check the timeliness of our data, is the data up to date so that we can make the right decision out of our data? 
   
C3) I will be using the Python language with the packages numpy pandas, scipy, sklearn, and matplotlib. Python is a popular language used by many and so using python is great for the purpose having a larger group of peers being able to read the program. Python is a single tool that can be used in any function which can in turn the use of the dataset can be integrated into other areas of workflow. I will be using packages such as numpy to work with arrays, pandas to analyze the data, matplotlib to create plots, seaborn to create visual charts, and sklearn to perform PCA.

In [4]:
#C4)Code
df = df.drop(df.columns[0], axis =1)
df

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,...,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,...,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,...,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,...,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,...,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [5]:
df.rename(columns = {'item1':'Responses', 'item2':'Fixes', 'item3':'Replacements', 'item4':'Reliability', 'item5':'Options', 'item6':'Respectful_Response', 'item7':'Courteous', 'item8':'Listening'}, inplace=True)

In [6]:
df

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful_Response,Courteous,Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,...,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,...,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,...,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,...,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,...,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [11]:
df.isna().any()

CaseOrder               False
Customer_id             False
Interaction             False
City                    False
State                   False
County                  False
Zip                     False
Lat                     False
Lng                     False
Population              False
Area                    False
Timezone                False
Job                     False
Children                 True
Age                      True
Education               False
Employment              False
Income                   True
Marital                 False
Gender                  False
Churn                   False
Outage_sec_perweek      False
Email                   False
Contacts                False
Yearly_equip_failure    False
Techie                   True
Contract                False
Port_modem              False
Tablet                  False
InternetService         False
Phone                    True
Multiple                False
OnlineSecurity          False
OnlineBackup            False
DeviceProtection        False
TechSupport              True
StreamingTV             False
StreamingMovies         False
PaperlessBilling        False
PaymentMethod           False
Tenure                   True
MonthlyCharge           False
Bandwidth_GB_Year        True
Responses               False
Fixes                   False
Replacements            False
Reliability             False
Options                 False
Respectful_Response     False
Courteous               False
Listening               False
dtype: bool

In [16]:
df.isnull().sum()

CaseOrder                  0
Customer_id                0
Interaction                0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                2495
Age                     2475
Education                  0
Employment                 0
Income                  2490
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                   931
MonthlyCharge              0
Bandwidth_GB_Year       1021
Responses                  0
Fixes                      0
Replacements               0
Reliability                0
Options                    0
Respectful_Response        0
Courteous                  0
Listening                  0
dtype: int64

In [19]:
df.dtypes

CaseOrder                 int64
Customer_id              object
Interaction              object
City                     object
State                    object
County                   object
Zip                       int64
Lat                     float64
Lng                     float64
Population                int64
Area                     object
Timezone                 object
Job                      object
Children                float64
Age                     float64
Education                object
Employment               object
Income                  float64
Marital                  object
Gender                   object
Churn                    object
Outage_sec_perweek      float64
Email                     int64
Contacts                  int64
Yearly_equip_failure      int64
Techie                   object
Contract                 object
Port_modem               object
Tablet                   object
InternetService          object
Phone                    object
Multiple                 object
OnlineSecurity           object
OnlineBackup             object
DeviceProtection         object
TechSupport              object
StreamingTV              object
StreamingMovies          object
PaperlessBilling         object
PaymentMethod            object
Tenure                  float64
MonthlyCharge           float64
Bandwidth_GB_Year       float64
Responses                 int64
Fixes                     int64
Replacements              int64
Reliability               int64
Options                   int64
Respectful_Response       int64
Courteous                 int64
Listening                 int64
dtype: object

In [22]:
df.duplicated().any()

False

In [23]:
df

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful_Response,Courteous,Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,...,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,...,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,...,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,...,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,...,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [24]:
df['Contract'].unique()

array(['One year', 'Month-to-month', 'Two Year'], dtype=object)

In [25]:
df['InternetService'].unique()

array(['Fiber Optic', 'DSL', 'None'], dtype=object)

In [26]:
df['PaymentMethod'].unique()

array(['Credit Card (automatic)', 'Bank Transfer(automatic)',
       'Mailed Check', 'Electronic Check'], dtype=object)

In [33]:
df['Job'].unique()
#From the look at this array, the data is inconsistent with capilizations, and there are misspelling erros. There is over 600 unique different job types making it difficult to group

array(['Environmental health practitioner', 'Programmer, multimedia',
       'Chief Financial Officer', 'Solicitor', 'Medical illustrator',
       'Chief Technology Officer', 'Surveyor, hydrographic',
       'Sales promotion account executive',
       'Teaching laboratory technician', 'Museum education officer',
       'Teacher, special educational needs', 'Maintenance engineer',
       'Engineer, broadcasting (operations)', 'Learning disability nurse',
       'Automotive engineer', 'Amenity horticulturist',
       'Applications developer', 'Immunologist', 'Engineer, electrical',
       'Broadcast presenter', 'Counsellor', 'Geophysical data processor',
       'Designer, multimedia', 'Event organiser',
       'Equality and diversity officer', 'Psychiatrist',
       'Surveyor, commercial/residential', 'Civil Service administrator',
       'Radiographer, diagnostic', 'Air traffic controller', 'Dietitian',
       'Therapist, occupational', 'Building services engineer',
       'Information officer', 'Outdoor activities/education manager',
       'Market researcher', 'Surveyor, insurance', 'Office manager',
       'Editorial assistant', 'Customer service manager',
       'Production designer, theatre/television/film',
       'Analytical chemist', 'Print production planner',
       'Conservation officer, nature', 'Librarian, public',
       'Financial adviser', 'Surveyor, building',
       'Horticulturist, amenity', 'Diagnostic radiographer',
       'Doctor, general practice', 'Insurance risk surveyor',
       'Heritage manager', 'Legal executive', 'Professor Emeritus',
       'Radio producer', "Barrister's clerk", 'Engineer, automotive',
       'Recruitment consultant', 'Commercial horticulturist',
       'Pharmacist, community', 'Forest/woodland manager',
       'Designer, graphic', 'Civil engineer, consulting',
       'Science writer', 'Health and safety inspector',
       'Administrator, Civil Service', 'Technical sales engineer',
       'Special educational needs teacher', 'Sports therapist',
       'Engineer, communications', 'Oceanographer', 'Archaeologist',
       'Personal assistant', 'Animal nutritionist', 'Hydrologist',
       'Arts development officer', 'Herpetologist',
       'Medical sales representative',
       'Scientist, research (physical sciences)',
       'Higher education lecturer', 'Nurse, adult', 'Chiropodist',
       'Therapeutic radiographer', 'Designer, television/film set',
       'Education officer, environmental', 'Colour technologist',
       'Academic librarian', 'Mudlogger', 'Designer, textile',
       'Chief Strategy Officer', 'Loss adjuster, chartered',
       'Pharmacologist', 'Hydrographic surveyor',
       'Engineer, manufacturing', 'Research scientist (medical)',
       'Wellsite geologist', 'Embryologist, clinical',
       'Occupational psychologist', 'Sales professional, IT',
       'Advertising copywriter', 'Radiographer, therapeutic',
       'English as a second language teacher', 'Occupational therapist',
       'Armed forces logistics/support/administrative officer',
       'Technical author', 'Regulatory affairs officer',
       'Optician, dispensing', 'Theme park manager', 'IT trainer',
       'Contracting civil engineer', 'Psychologist, sport and exercise',
       'Manufacturing engineer', 'Musician',
       'Senior tax professional/tax inspector', 'Engineer, biomedical',
       'Facilities manager', 'Osteopath', 'Corporate investment banker',
       'Psychotherapist', 'Copywriter, advertising',
       'Horticultural consultant', 'Microbiologist',
       'Educational psychologist', 'Sport and exercise psychologist',
       'Risk manager', 'Health visitor', 'Visual merchandiser',
       'Clinical biochemist', 'Water quality scientist', 'Optometrist',
       'Petroleum engineer', 'Building control surveyor',
       'Financial planner', 'Theatre director', 'Secretary, company',
       'Materials engineer', 'Civil Service fast streamer',
       'Health service manager', 'Scientist, forensic',
       'Immigration officer', 'Dealer',
       'Planning and development surveyor', 'Broadcast engineer',
       'Local government officer', 'Nature conservation officer',
       'Private music teacher', 'Geologist, wellsite', 'Gaffer',
       'Curator', 'Editor, commissioning', 'Barrister', 'TEFL teacher',
       'Public relations account executive', 'Audiological scientist',
       'Travel agency manager', 'Land', 'Music therapist',
       'Librarian, academic', 'Film/video editor',
       'Journalist, broadcasting', 'Waste management officer',
       'Scientist, water quality', 'Sub', 'Neurosurgeon',
       'Scientist, research (maths)', 'Public house manager',
       'Building surveyor', 'Animator',
       'Production assistant, television', 'Transport planner',
       'Geneticist, molecular', 'Merchant navy officer',
       'Research scientist (life sciences)',
       'Engineer, building services', 'Solicitor, Scotland',
       'Hospital pharmacist', 'Engineer, petroleum', 'Oncologist',
       'IT technical support officer', 'Site engineer',
       'Early years teacher', 'Plant breeder/geneticist',
       'Chartered management accountant',
       'Runner, broadcasting/film/video', 'Newspaper journalist',
       'Naval architect', 'Agricultural engineer', 'Meteorologist',
       'Designer, ceramics/pottery', 'Environmental education officer',
       'Textile designer', 'Engineer, materials', 'Magazine journalist',
       'Conference centre manager', 'Dance movement psychotherapist',
       'Warden/ranger', 'Teacher, English as a foreign language',
       'Producer, television/film/video', 'Make', 'Pharmacist, hospital',
       'Therapist, horticultural', 'Journalist, newspaper',
       'Retail merchandiser', 'Nurse, mental health', 'Chief of Staff',
       'Systems analyst', 'Electronics engineer', 'Quantity surveyor',
       'Minerals surveyor', 'Scientist, research (life sciences)',
       'Archivist', 'Brewing technologist',
       'Investment banker, operational',
       'Accountant, chartered certified', 'Surveyor, minerals',
       'Hospital doctor', 'Theatre stage manager',
       'Operational researcher', 'Tax inspector',
       'Television camera operator', 'Arts administrator',
       'Patent attorney', 'Bonds trader', 'Ship broker',
       'Furniture conservator/restorer', 'Media planner',
       'Radio broadcast assistant', 'Mental health nurse',
       'Purchasing manager', 'Scientist, biomedical', 'Photographer',
       'Sports coach', 'Environmental manager', 'Estate agent',
       'Public librarian', 'Designer, blown glass/stained glass',
       'Occupational hygienist', 'Surgeon', 'Youth worker',
       'Hotel manager', 'Programmer, systems', "Politician's assistant",
       'Social researcher', 'Publishing copy', 'Tax adviser',
       'Quarry manager', 'Buyer, industrial', 'Production manager',
       'Police officer', 'Theatre manager', 'Sports administrator',
       'Research scientist (maths)', 'Therapist, music', 'Soil scientist',
       'Holiday representative', 'Producer, radio',
       'Intelligence analyst', 'Geochemist', 'Probation officer',
       'Fish farm manager', 'Chartered accountant', 'Architect',
       'Psychiatric nurse', 'Farm manager', 'Geoscientist',
       'Lecturer, further education', 'Horticulturist, commercial',
       'Surveyor, quantity', 'Clothing/textile technologist',
       'Technical brewer', 'Landscape architect',
       'Information systems manager', 'Sales executive',
       'Exercise physiologist', 'Administrator, arts', 'Careers adviser',
       'Lobbyist', 'Claims inspector/assessor', 'Recycling officer',
       'Product/process development scientist', 'Paramedic',
       'Fine artist', 'Teacher, secondary school',
       'Data processing manager', 'Government social research officer',
       'Product manager', 'Accounting technician', 'Engineer, land',
       'Lawyer', 'Restaurant manager', 'Catering manager', 'Contractor',
       'Research officer, government', 'Medical secretary', 'Podiatrist',
       'Phytotherapist', 'Surveyor, building control', 'Comptroller',
       'Lighting technician, broadcasting/film/video', 'Paediatric nurse',
       'Designer, furniture', 'Adult guidance worker',
       'Clinical molecular geneticist', 'Games developer', 'Metallurgist',
       'Armed forces technical officer', 'Risk analyst',
       'Careers information officer', 'Garment/textile technologist',
       'Multimedia specialist', 'Trade union research officer',
       'Museum/gallery exhibitions officer',
       'Armed forces operational officer', 'Air broker',
       'Mechanical engineer', 'Ceramics designer', 'Airline pilot',
       'Trading standards officer', 'Advice worker', 'Music tutor',
       'Leisure centre manager', 'Surveyor, rural practice',
       'Scientist, physiological', 'Fisheries officer',
       'Research officer, trade union', 'Licensed conveyancer',
       "Nurse, children's", 'Museum/gallery curator',
       'Psychologist, occupational', 'Astronomer', 'Therapist, drama',
       'Therapist, speech and language', 'Surveyor, land/geomatics',
       'Production assistant, radio', 'Human resources officer',
       'Fast food restaurant manager', 'Orthoptist',
       'Public relations officer', 'Bookseller',
       'Health and safety adviser', 'Clinical cytogeneticist',
       'Ergonomist', 'Psychologist, prison and probation services',
       'Actuary',
       'Scientist, clinical (histocompatibility and immunogenetics)',
       'Community development worker', 'Consulting civil engineer',
       'Television production assistant', 'Veterinary surgeon',
       'Teacher, adult education', 'Civil engineer, contracting',
       'Architectural technologist', 'Volunteer coordinator',
       'Primary school teacher', 'Insurance underwriter',
       'Research officer, political party',
       'Radiation protection practitioner', 'Psychotherapist, child',
       'Interior and spatial designer', 'Therapist, nutritional',
       'Jewellery designer', 'Press sub',
       'Clinical scientist, histocompatibility and immunogenetics',
       'Administrator, sports', 'Insurance account manager',
       'Museum/gallery conservator', 'Furniture designer',
       'Haematologist', 'Associate Professor', 'Physicist, medical',
       'Pathologist', 'Chartered public finance accountant', 'Printmaker',
       'Surveyor, mining', 'Chief Marketing Officer',
       'General practice doctor', 'Chemical engineer',
       'Forensic scientist', 'Marketing executive', 'Art gallery manager',
       'Therapist, sports', 'Insurance claims handler',
       'Secondary school teacher',
       'Development worker, international aid', 'Quality manager',
       'Conservator, furniture', 'Tour manager',
       'Control and instrumentation engineer', 'Adult nurse',
       'Diplomatic Services operational officer', 'Cartographer',
       'Chiropractor', 'Land/geomatics surveyor', 'Statistician',
       'Financial trader', 'Special effects artist',
       'Clinical psychologist', 'Further education lecturer',
       'Engineer, water', 'Energy manager', 'Education administrator',
       'Art therapist', 'Television floor manager', 'Legal secretary',
       'Merchandiser, retail', 'Web designer',
       'Nurse, learning disability',
       'International aid/development worker', 'Warehouse manager',
       'Engineer, mining', 'Exhibition designer',
       'Administrator, local government', 'Water engineer',
       'Physiotherapist', 'Engineer, electronics', 'Equities trader',
       'Telecommunications researcher', 'Hydrogeologist',
       'Community education officer', 'Engineer, energy',
       'Scientist, audiological', 'Patent examiner', 'Retail manager',
       'Engineer, aeronautical', 'Engineer, site',
       'Engineer, civil (contracting)', 'Proofreader',
       'Scientist, marine', 'Speech and language therapist',
       'IT sales professional', 'Buyer, retail', 'Network engineer',
       'Commercial art gallery manager',
       'Chartered legal executive (England and Wales)',
       'Presenter, broadcasting', 'Surveyor, planning and development',
       'Research scientist (physical sciences)', 'Commissioning editor',
       'Operational investment banker', 'Seismic interpreter',
       'Charity officer', 'English as a foreign language teacher',
       'Scientist, research (medical)', 'Designer, interior/spatial',
       'Lexicographer', 'Therapist, art', 'Clinical embryologist',
       'Child psychotherapist', 'Midwife', 'Pensions consultant',
       'Tree surgeon', 'Health physicist', 'Artist', 'Company secretary',
       'Fashion designer', 'IT consultant', 'Teacher, early years/pre',
       'Geographical information systems officer',
       'Tourist information centre manager', 'Biomedical engineer',
       'Biomedical scientist', 'Financial risk analyst',
       'Multimedia programmer', 'Engineer, control and instrumentation',
       'Insurance broker', 'Drilling engineer',
       'Development worker, community', 'Designer, industrial/product',
       'Medical technical officer', 'Advertising account executive',
       'Counselling psychologist', 'Tourism officer', 'Dancer',
       'Social research officer, government', 'Teacher, music',
       'Translator', 'Race relations officer',
       'Engineer, civil (consulting)',
       'Historic buildings inspector/conservation officer',
       'Financial manager', 'Financial controller', 'Designer, jewellery',
       'Retail banker',
       'Administrator, charities/voluntary organisations',
       'Magazine features editor', 'Psychotherapist, dance movement',
       'Barista', 'Passenger transport manager', 'Mining engineer',
       'Administrator, education',
       'Programme researcher, broadcasting/film/video', 'Ranger/warden',
       'Actor', 'Pension scheme manager', 'Investment analyst',
       'Physiological scientist', 'Advertising art director',
       'Sports development officer', 'Manufacturing systems engineer',
       'Accommodation manager', 'Television/film/video producer',
       'Accountant, chartered', 'Engineer, agricultural',
       'Horticultural therapist', 'Economist',
       'Training and development officer', 'Engineer, maintenance',
       'Logistics and distribution manager', 'Psychologist, clinical',
       'Accountant, chartered management', 'Rural practice surveyor',
       'Biochemist, clinical', 'Set designer', 'Nutritional therapist',
       'Illustrator', 'Designer, exhibition/display',
       'Armed forces training and education officer', 'Location manager',
       'Charity fundraiser', 'Community pharmacist',
       'Geophysicist/field seismologist', 'Designer, fashion/clothing',
       'Computer games developer', 'Acupuncturist',
       'Database administrator', 'Stage manager', 'Operations geologist',
       'Marine scientist', 'Glass blower/designer', 'Corporate treasurer',
       'Ecologist', 'Structural engineer', 'Housing manager/officer',
       'Chief Operating Officer', 'Engineer, manufacturing systems',
       'Herbalist', 'Editor, film/video', 'Retail buyer',
       'Doctor, hospital', 'Prison officer', 'Ophthalmologist',
       'Chemist, analytical', 'Chartered certified accountant',
       'Industrial buyer', 'Video editor', 'Publishing rights manager',
       'Engineer, drilling', 'Food technologist', 'Arboriculturist',
       'Engineer, technical sales', 'Systems developer', 'Firefighter',
       'Education officer, museum', 'Media buyer', 'Records manager',
       'Aid worker', 'Pilot, airline', 'Advertising account planner',
       'Psychologist, counselling', 'Environmental consultant', 'Copy',
       'Trade mark attorney', 'Psychologist, forensic', 'Social worker',
       'Administrator', 'Agricultural consultant',
       'Education officer, community', 'Management consultant',
       'Field trials officer', 'Graphic designer',
       'Teacher, primary school', 'Homeopath', 'Cabin crew',
       'Editor, magazine features', 'Medical physicist',
       'Medical laboratory scientific officer', 'Press photographer',
       'Field seismologist', 'Estate manager/land agent',
       'Industrial/product designer', 'Software engineer',
       'Air cabin crew', 'Freight forwarder', 'Engineer, structural',
       'Fitness centre manager', 'Interpreter',
       'Scientific laboratory technician', 'Data scientist',
       'Electrical engineer', 'Clinical research associate',
       'Engineering geologist', 'Call centre manager',
       'Psychologist, educational', 'Conservator, museum/gallery',
       'Emergency planning/management officer', 'Communications engineer',
       'Conservation officer, historic buildings', 'Cytogeneticist',
       'Personnel officer', 'Dramatherapist',
       'Investment banker, corporate', 'Camera operator',
       'Chartered loss adjuster', 'Health promotion specialist',
       'Scientist, product/process development', 'Learning mentor',
       'Lecturer, higher education',
       'Sound technician, broadcasting/film/video',
       'Restaurant manager, fast food', 'Engineer, maintenance (IT)',
       'Energy engineer', 'Dispensing optician',
       'Chief Executive Officer', 'Ambulance person',
       'Public affairs consultant', 'Product designer',
       'Community arts worker', 'Higher education careers adviser',
       'Dentist', 'Exhibitions officer, museum/gallery', 'Futures trader',
       'Commercial/residential surveyor', 'Engineer, production',
       'Animal technologist', 'Banker', 'Programmer, applications',
       'Best boy', 'Secretary/administrator', 'Journalist, magazine',
       'Production engineer', 'Accountant, chartered public finance',
       'Geologist, engineering', 'Aeronautical engineer',
       'Engineer, chemical', 'Forensic psychologist',
       'Broadcast journalist', 'Town planner', 'Toxicologist', 'Writer'],
      dtype=object)

In [36]:
len(df['Job'].unique())

639

In [37]:
df['Education'].unique()

array(["Master's Degree", 'Regular High School Diploma',
       'Doctorate Degree', 'No Schooling Completed', "Associate's Degree",
       "Bachelor's Degree", 'Some College, Less than 1 Year',
       'GED or Alternative Credential',
       'Some College, 1 or More Years, No Degree',
       '9th Grade to 12th Grade, No Diploma',
       'Nursery School to 8th Grade', 'Professional School Degree'],
      dtype=object)

In [38]:
df['Employment'].unique()

array(['Part Time', 'Retired', 'Student', 'Full Time', 'Unemployed'],
      dtype=object)

In [39]:
df['Marital'].unique()

array(['Widowed', 'Married', 'Separated', 'Never Married', 'Divorced'],
      dtype=object)

In [40]:
df['Age'].unique()

array([68., 27., 50., 48., 83., nan, 49., 86., 23., 56., 30., 39., 63.,
       60., 61., 52., 75., 77., 47., 70., 69., 45., 40., 82., 26., 25.,
       66., 72., 41., 44., 43., 84., 59., 31., 51., 58., 73., 33., 42.,
       81., 87., 54., 67., 46., 24., 20., 71., 32., 29., 80., 53., 79.,
       65., 35., 34., 74., 55., 76., 57., 38., 78., 19., 36., 88., 62.,
       37., 28., 22., 85., 89., 18., 21., 64.])

In [41]:
df['Children'].unique()

array([nan,  1.,  4.,  0.,  3.,  2.,  7.,  5.,  9.,  6., 10.,  8.])

In [57]:
df['Timezone'].unique()

array(['America/Sitka', 'America/Detroit', 'America/Los_Angeles',
       'America/Chicago', 'America/New_York', 'America/Puerto_Rico',
       'America/Denver', 'America/Menominee', 'America/Phoenix',
       'America/Indiana/Indianapolis', 'America/Boise',
       'America/Kentucky/Louisville', 'Pacific/Honolulu',
       'America/Indiana/Petersburg', 'America/Nome', 'America/Anchorage',
       'America/Indiana/Knox', 'America/Juneau', 'America/Toronto',
       'America/Indiana/Winamac', 'America/Indiana/Vincennes',
       'America/North_Dakota/New_Salem', 'America/Indiana/Tell_City',
       'America/Indiana/Marengo', 'America/Ojinaga'], dtype=object)

In [42]:
df.isnull().sum()

CaseOrder                  0
Customer_id                0
Interaction                0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                2495
Age                     2475
Education                  0
Employment                 0
Income                  2490
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                   931
MonthlyCharge              0
Bandwidth_GB_Year       1021
Responses                  0
Fixes                      0
Replacements               0
Reliability                0
Options                    0
Respectful_Response        0
Courteous                  0
Listening                  0
dtype: int64

In [43]:
x=df['Children'].median()
df['Children'].fillna(x, inplace=True)
x=df['Age'].median()
df['Age'].fillna(x, inplace=True)
x=df['Income'].median()
df['Income'].fillna(x, inplace=True)
x=df['Tenure'].median()
df['Tenure'].fillna(x, inplace=True)
x=df['Bandwidth_GB_Year'].median()
df['Bandwidth_GB_Year'].fillna(x, inplace=True)

In [44]:
df.isnull().sum()

CaseOrder                  0
Customer_id                0
Interaction                0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                   0
Age                        0
Education                  0
Employment                 0
Income                     0
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                     0
MonthlyCharge              0
Bandwidth_GB_Year          0
Responses                  0
Fixes                      0
Replacements               0
Reliability                0
Options                    0
Respectful_Response        0
Courteous                  0
Listening                  0
dtype: int64

In [53]:
df['Techie'].unique()

array(['No', 'Yes'], dtype=object)

In [52]:
df['Phone'].unique()

array(['Yes', 'No'], dtype=object)

In [51]:
df['TechSupport'].unique()

array(['No', 'Yes'], dtype=object)

In [48]:
df['Tablet'].unique()

array(['Yes', 'No'], dtype=object)

In [49]:
df['Techie'].fillna('No', inplace=True)
df['Phone'].fillna('No', inplace=True)
df['TechSupport'].fillna('No', inplace=True)
# It was reasonable to assume that nulls for Techie, Phone, and TechSupport to be 'No', if it did not apply to the customer.

In [50]:
df.isnull().sum()

CaseOrder               0
Customer_id             0
Interaction             0
City                    0
State                   0
County                  0
Zip                     0
Lat                     0
Lng                     0
Population              0
Area                    0
Timezone                0
Job                     0
Children                0
Age                     0
Education               0
Employment              0
Income                  0
Marital                 0
Gender                  0
Churn                   0
Outage_sec_perweek      0
Email                   0
Contacts                0
Yearly_equip_failure    0
Techie                  0
Contract                0
Port_modem              0
Tablet                  0
InternetService         0
Phone                   0
Multiple                0
OnlineSecurity          0
OnlineBackup            0
DeviceProtection        0
TechSupport             0
StreamingTV             0
StreamingMovies         0
PaperlessBilling        0
PaymentMethod           0
Tenure                  0
MonthlyCharge           0
Bandwidth_GB_Year       0
Responses               0
Fixes                   0
Replacements            0
Reliability             0
Options                 0
Respectful_Response     0
Courteous               0
Listening               0
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   City                  10000 non-null  object
 4   State                 10000 non-null  object
 5   County                10000 non-null  object
 6   Zip                   10000 non-null  int64
 7   Lat                   10000 non-null  float64
 8   Lng                   10000 non-null  float64
 9   Population            10000 non-null  int64
 10  Area                  10000 non-null  object
 11  Timezone              10000 non-null  object
 12  Job                   10000 non-null  object
 13  Children              10000 non-null  float64
 14  Age                   10000 non-null  float64
 15  Education             10000 non-null  object
 16  Employment            10000 non-null  object
 17  Income                10000 non-null  float64
 18  Marital               10000 non-null  object
 19  Gender                10000 non-null  object
 20  Churn                 10000 non-null  object
 21  Outage_sec_perweek    10000 non-null  float64
 22  Email                 10000 non-null  int64
 23  Contacts              10000 non-null  int64
 24  Yearly_equip_failure  10000 non-null  int64
 25  Techie                10000 non-null  object
 26  Contract              10000 non-null  object
 27  Port_modem            10000 non-null  object
 28  Tablet                10000 non-null  object
 29  InternetService       10000 non-null  object
 30  Phone                 10000 non-null  object
 31  Multiple              10000 non-null  object
 32  OnlineSecurity        10000 non-null  object
 33  OnlineBackup          10000 non-null  object
 34  DeviceProtection      10000 non-null  object
 35  TechSupport           10000 non-null  object
 36  StreamingTV           10000 non-null  object
 37  StreamingMovies       10000 non-null  object
 38  PaperlessBilling      10000 non-null  object
 39  PaymentMethod         10000 non-null  object
 40  Tenure                10000 non-null  float64
 41  MonthlyCharge         10000 non-null  float64
 42  Bandwidth_GB_Year     10000 non-null  float64
 43  Responses             10000 non-null  int64
 44  Fixes                 10000 non-null  int64
 45  Replacements          10000 non-null  int64
 46  Reliability           10000 non-null  int64
 47  Options               10000 non-null  int64
 48  Respectful_Response   10000 non-null  int64
 49  Courteous             10000 non-null  int64
 50  Listening             10000 non-null  int64
dtypes: float64(9), int64(14), object(28)
memory usage: 3.9+ MB

In [55]:
df

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,Responses,Fixes,Replacements,Reliability,Options,Respectful_Response,Courteous,Listening
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,...,159.828800,6511.253000,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,...,208.856400,5695.952000,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,...,168.220900,4159.306000,4,4,4,4,4,4,4,5
9998,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,...,252.628600,6468.457000,4,4,6,4,3,3,5,4
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,...,218.371000,5857.586000,2,2,3,3,3,3,4,1